
.bg-dark {
    background-color: black;
}

body {
  background-color: black;
}


 .navbar {
box-shadow: -1px 1px 14px 0px #00bFF0;
background-color: #000 !important;
width: 100%;
top: 0;
left: 0;
z-index: 1030;
 }
 .navbar-name {
    /* font-family: cinzel; */
    font-size: 1rem;
    color: #F23580;
}
 .navbar-dark .navbar-toggler {
color: rgba(255,255,255,.5);
border-color: #000;/* border-color: rgba(255,255,255,.1); */
 }
 .navbar-nav .nav-item .nav-link {
font-weight: 500;
font-size: 1.1rem;
color:#6e7175; /* Default link color */
transition: color 0.3s; /* Add a smooth transition for color change */
 }
 .navbar-nav .nav-item .nav-link:hover {
color: #00BFF0; /* Change the color to your desired hover color */
 }
 .navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #F23580; /* Change this to the desired color */
}
.collapse.navbar-collapse.ml-auto {
    justify-content: right;
}


.jumbotron img {
    width: 100%;
}
.jumbotron {
    padding: 2rem 1rem;
  
}
.row {
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row;
}

.row img {
    padding: 2%;
    width: 100%;
}
.h1, h1 {
    padding-left: 2%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    font-size: 2.6rem;
    color: #F23580;
}

.h2, h2 {
    padding-left: 5%;
    color: #00bFF0;
    font-size: 2rem;
}
.h3, h3 {
    text-decoration: underline;
    font-weight: 300;
    color: #00BFF0;
    /* margin-top: -60px; */
    /* padding-left: 4%; */
    font-size: 1.75rem;
}

  .col-md-4 img{ width: 100%;}
 
  .list-group-item {
    font-weight: 500;
    background-color: black;
    position: relative;
    color: #00BFF0;
    display: block;
    /* background-color: #fff; */
    border: 1px solid rgb(0 123 255 / 20%);
}
  .mb-0 {
  margin-bottom: 4%!important;
}

 .col-md-6 img {
    width: 100%;
}
.col-md-8 {
    color: white;
    padding: 12%;
}

.col-md-12 {
    padding: 6%;
    color: white;
}
.col-md-12 p{
    color: white;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: black;
    color: #F23580;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0px 7px 58px 20px #00bff0ad;
}


/* Style for the left-side links */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Style for individual links */
.footer-links a {
    color: #F23580;
    text-decoration: none;
    margin-right: 20px;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}
.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
/* Style for the image on the right side */
.footer-image {
    max-width: 180px;
}
.footer-image p {
    color: grey;
    font-size: 12px;
  
}

@media screen and (min-width:768px){
    .col-md-6 {
        
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }




}
@media screen and (min-width: 992px){
   
    .h1, h1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        font-size: 2.6rem;
        color: #F23580;
    }
}


